ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.frfxdpstn .mrgfxd {
    margin-top: 95px;
}

.htldestsrch {
    float: left;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: table;
}

.frfxdpstn .mrgfxd .srchhtl {
    position: fixed;
    top: 45px;
    left: 0;
}

.srchhtl {
    float: left;
    width: 100%;
    background: #ddd;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.srchhtl .icon-search {
    position: absolute;
    top: 19px;
    left: 18px;
    font-size: 14px;
}

.srchhtl input {
    float: left;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #222222;
    padding: 5px 0 5px 30px;
    box-sizing: border-box;
    outline: 0;
    height: 30px;
}

.srchhtl .cls_otr {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
}

.srchhtl .cls_otr .icon-close {
    background: #cccccc;
    font-size: 6px;
    padding: 4px;
    border-radius: 50%;
    font-weight: 500;
    float: left;
}

.dn {
    display: none !important;
}

.htlsrchdta {
    float: left;
    width: 100%;
    background: #fff;
}

.srchtitl {
    float: left;
    width: 100%;
    background: #f6f6f6;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    line-height: 27px;
    padding: 0 10px;
    box-sizing: border-box;
}

.htlcitydta {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.htlcitydta li:first-child {
    border: 0;
}

.htlcitydta li {
    float: left;
    width: 100%;
    border-top: 1px solid rgba(204, 204, 204, 0.4);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.htlcitydta li a {
    float: left;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    text-decoration: none;
    box-sizing: border-box;
}

.htlsrarea {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #33373c;
    text-transform: capitalize;
    font-weight: normal;
    margin-right: 5px;
}

.htlsrcity {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #8b9499;
    text-transform: capitalize;
    font-weight: 400;
    padding: 2px 0 0;
}
.srchhtl .cls_otr .icon-close:before {
    color: #fff;
}
.htlcitydta .nmtchfnd {
    font-size: 14px;
    color: #222;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 10px;
}