.srchhotel {
    float: left;
    width: 100%;
    display: table;
    box-sizing: border-box;
}

.htmlform {
    float: left;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 45px);
    background: #fff;
    display: table;
}

.srchform {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
    padding: 0;
}

.srchlbl {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #909090;
}

.dn {
    display: none !important;
}
.srchtxt {
    float: left;
    text-transform: capitalize;
    border: 0;
    width: 100%;
    position: relative;
    outline: 0;
    font-size: 15px;
    color: #222;
    padding: 5px 0 15px;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.srchtxtcaps {
    font-size: 17px;
}
input[type="text"]:disabled, input:disabled, input[type="text"] {
    background-color: #fff;
    opacity: 1;
}
input[type="text"]:disabled, input:disabled, input[type="text"] {
    background-color: #fff;
    opacity: 1;
    -webkit-text-fill-color: #424242;
}
.cel50 {
    float: left;
    width: 50%;
}
.htlnight {
    background: #fff;
    padding: 0;
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 13px;
    color: #909090;
    text-align: center;
    margin: 0 0 0 -25px;
    z-index: 1;
}
.htlnight .icon-jd_nights {
    font-size: 10px;
}
.htlnight .ngttxt {
    float: left;
    width: 100%;
}
.fromData input, .toData input {
    font-size: 14px;
    text-align: center;
    border: none;
    display: inline-block;
    width: 100%;
    background: transparent;
    color: #424242;
}
.datset .htlright {
    text-align: right;
}
.datset input {
    text-align: left;
    font-weight: 400;
    background: transparent;
    opacity: 1;
    -webkit-text-fill-color: #222222;
    -webkit-opacity: 1;
}
.htlright {
    text-align: right;
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.htlgrnbtn {
    border: 0;
    width: 100%;
    height: 47px;
    float: left;
    border-radius: 2px;
    background: #4a9f44;
    font-size: 18px;
    color: #fff;
}